<navigation></navigation>

<div class="container">
	<page-header content="vm.pageHeader"></page-header>

	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<setting-panel select="vm.pageHeader.title"><setting-panel>
		</div>
		<div class="col-xs-12 col-sm-9">
			<form ng-submit="vm.onSubmit()" role="form">
				<div class="alert alert-danger fade in" ng-show="vm.formError">
					<a href="" class="close" data-dismiss="alert">&times;</a>
					{{vm.formError}}
				</div>
				<div class="alert alert-success fade in" ng-show="vm.formSuccess">
					<a href="" class="close" data-dismiss="alert">&times;</a>
					{{vm.formSuccess}}
				</div>
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" id="name" class="form-control" ng-model="vm.formData.name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" class="form-control" ng-model="vm.formData.email">
				</div>
				<button type="submit" class="btn btn-success">Change profile</button>
			</form>
		</div>
	</div>

	<footer-generic></footer-generic>
</div>