.modal-body .comments{
    word-wrap: break-word;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

textarea {
    resize: none;
}

#pageHeaderUserName {
    word-wrap: break-word;
}

#pageHeaderUserDesc {
    word-wrap: break-word;
}
