<div class="modal-content">
	<form name="form" ng-submit="vm.submit()">
		<div class="modal-header">
			<button type="button" class="close" ng-click="vm.modal.cancel()">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<h2 class="modal-title"><a href="/#!/user/{{vm.photoInfo.ownerid}}">{{vm.photoInfo.ownerid}}</a></h2>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<img http-src="{{vm.photoInfo.url}}" class="img-thumbnail img-rounded">
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="row">
						<div>
							<textarea id="comment" maxlength="50" ng-model="vm.sendingData.comment"></textarea>
						</div>
						<button type="button" class="btn btn-primary" ng-click="vm.addComment()">Send comment</button>
					</div>
					&nbsp;
					<div class="row comments">
						<div class="col-xs-12">
							<div class="row" ng-repeat="comment in vm.receivedData.comments">
								<a href="/#!/user/{{comment.author}}">{{comment.author}}</a> {{comment.comment}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="alert alert-danger" ng-show="vm.formError">{{vm.formError}}</div>
			<div ng-show="vm.isMyPhoto">
				<label for="confirmPhotoName">Please type {{vm.photoInfo.name}} to confirm</label>
				<input type="text" name="confirmPhotoName" id="confirmPhotoName" ng-model="vm.confirmPhotoName">
				<button type="button" class="btn btn-danger" ng-click="vm.onDelete()">Delete</button>
			</div>
		</div>
		</div>
	</form>
</div>


